<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<link rel="stylesheet" href="resources/css/bootstrap.min.css" >
<link rel="stylesheet" href="resources/css/font-awesome.min.css" >
</head>
<body>

<div id="app" class="container-fluid" style="padding:0 2px 0 2px;">
	
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item">课程选择</li>
    <li class="breadcrumb-item active" >课程设置</li>
  </ol>
</nav>
	
	
	<div class="btn-group" style="margin-bottom:10px;">
  		<button @click="clsAddTo" type="button" class="btn btn-primary"><i class ="fa fa-plus-circle"></i> 增加</button>
	</div>

	<table class="table " >

		<thead>
			<tr>
	 			<th>课程编码</th>
	 			<th>课程名称</th>
	 			<th>课程性质</th>
	 			<th>课程学分</th>
	 			<th>操作</th>
			</tr>
					
		
		
		</thead>
		
		
			<tbody>
	 	
	 		<tr v-for="course in clsList">
	 			<td>{{ course.cus_id}}</td>
	 			<td>{{ course.cus_name}}</td>
	 			<td>{{ course.cus_xingzhi}}</td>
	 			<td>{{ course.cus_score}}</td>
	 			<td>
	 				<a href="#" @click="clsUpdTo(course)"  >修改</a>
	 				<a href="#" @click="cusDelDo(course)" >删除</a>
	 			</td>
	 		</tr>
	 		
	 		
	 	</tbody>
	
	</table>
	
	
	
	<!-- 增加窗口的内容 -->
	<div id="cls-win-add" style="display: none;padding:15px;" >
		<form>
		  <div class="form-group">
		    <label for="cls-add-id">课程编号</label>
		    <input v-model="course.cus_id" type="text" class="form-control" id="cls-add-id" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="course-add-name">课程名称</label>
		    <input v-model="course.cus_name" type="text" class="form-control" id="cls-add-name" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-remark">课程性质</label>
		    <input v-model="course.cus_xingzhi" type="text" class="form-control" id="cls-add-remark" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-score">课程学分</label>
		    <input v-model="course.cus_score" type="text" class="form-control" id="cls-add-score" placeholder="请输入分类名称">		   
		  </div>
		  
		  <button @click="clsAddDo" type="button" class="btn btn-primary">提交</button>
		</form>	
	</div>
	
	<!-- 修改窗口的内容 -->
	<div id="cls-win-upd" style="display: none;padding:15px;" >
		<form>
		  <div class="form-group">
		    <label for="cls-add-id">课程编号</label>
		    <input v-model="updcls.cus_id" type="text" class="form-control" id="cls-add-id" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-name">课程名称</label>
		    <input v-model="updcls.cus_name" type="text" class="form-control" id="cls-add-name" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-remark">课程性质</label>
		    <input v-model="updcls.cus_xingzhi" type="text" class="form-control" id="cls-add-remark" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-score">课程学分</label>
		    <input v-model="updcls.cus_score" type="text" class="form-control" id="cls-add-score" placeholder="请输入分类名称">		   
		  </div>
		  
		  <button @click="clsUpdDo" type="button" class="btn btn-primary">提交</button>
		</form>	
	</div>
	
	
	

	
	
	
	
</div>


<!-- 在body结尾之前引入以下js文件。 注意导入顺序不可以随意改变。 -->
<script src="resources/js/jquery.min.js" ></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
<script src="resources/layer/layer.js" ></script>
<script src="resources/js/sweetalert.min.js" ></script>
<script src="resources/js/vue.min.js"></script>
<script src="resources/js/my.js"></script>

<script type="text/javascript">

	new Vue({
		el:'#app',
		data:{
			clsList:[],
			dlg:null,
			course:{},//绑定新增窗体
			updcls:{},//绑定修改窗体
			
		},
		
		//监视属性变化
		watch:{
			
			//监视cls_ids属性-start
			cls_ids(newValue,oldValue){
				console.log(newValue);
			}
			//监视cls_ids属性-end
		},
		
		//定义Vue对象的实例方法
		methods:{
			
			clsAddTo(){
				this.course={};
				this.dlg=My.open({
					title:'新增课程分类',
					contentId:'cls-win-add'					
					
				});
				
			},
			
			clsAddDo(){
				console.log("=====>");
				
				My.operate(
						{
							title:'您确实要提交该数据吗？',
							text:'如果。。。。，则。。。。。！',
							url:'clsAddDo',
							data:this.course
						},
						
						() => {
							this.loadClsList();
							My.close(this.dlg);
						}
				
				);
			},
			
			//弹出修改窗体-start
			clsUpdTo(course){
				this.updcls=course;
				this.dlg=My.open({
					title:'修改商品分类',
					contentId:'cls-win-upd'					
					
				});
			},
			//弹出修改窗体-end
			
			//执行修改-start
			clsUpdDo(course){
				My.operate(
						{
							title:'您确实要修改该分类信息吗？',
							text:'如果。。。。，则。。。。。！',
							url:'clsUpdDo',
							data:this.updcls
						},
						
						() => {
							this.loadClsList();
							My.close(this.dlg);
						}
				
				);
			},
			//执行修改-end
			
			//执行删除-start
			cusDelDo(course){
				My.operate(
						{
							title:'您确实要选择该课程吗？',
							text:'如果一旦选中，则无法恢复！',
							url:'cusDelDo',
							data:{cus_id:course.cus_id}
						},
						
						() => {
							this.loadClsList();
							My.close(this.dlg);
						}
				
				);
			},
			//执行删除-end
			
			
			//加载分类信息-start
			loadClsList(){
				My.loadData(
						{
							url:'clsList'
						},
						
						(data) => { //处理服务器数据的回调函数
							this.clsList=data;
						}
				);
			},//加载分类信息-end
			
		},
		
		mounted(){//挂载完成的回调函数
			
			//从服务端获取数据			
			this.loadClsList();
			
		}
		
		
	});

</script>




</body>
</html>