<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Insert title here</title>
<link rel="stylesheet" href="resources/css/bootstrap.min.css" >
<link rel="stylesheet" href="resources/css/font-awesome.min.css" >
</head>
<body>

<div id="app" class="container-fluid" style="padding:0 2px 0 2px;">
	
	<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active">个人课表</li>
    <li class="breadcrumb-item " >个人成绩</li>
  </ol>
</nav>
	
	
	<div class="btn-group" style="margin-bottom:10px;">
	
	</div>

	<table class="table " >

		<thead>
			<tr>
			   
	 			<th>课程编码</th>
	 			<th>课程名称</th>
	 			<th>课程性质</th>
	 			<th>课程学分</th>
	 			<th>课程成绩</th>
			</tr>
					

		</thead>
		
		
			<tbody>
	 	
	 		<tr v-for="cxs in cxsList">
	 			<td>{{ cxs.cus_id}}</td>
	 			<td>{{ cxs.cus_name}}</td>
	 			<td>{{ cxs.cus_xingzhi}}</td>
	 			<td>{{ cxs.cus_score}}</td>
	 			<td>{{ cxs.cus_grade}}</td>
	 			<td>

	 			</td>
	 		</tr>
	 		
	 		
	 	</tbody>
	
	</table>
	
	
	
	<!-- 增加窗口的内容 -->
	<div id="cls-win-add" style="display: none;padding:15px;" >
		<form>
		  <div class="form-group">
		    <label for="cls-add-id">课程编号</label>
		    <input v-model="cxs.cus_id" type="text" class="form-control" id="cls-add-id" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-name">课程名称</label>
		    <input v-model="cxs.cus_name" type="text" class="form-control" id="cls-add-name" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-remark">课程性质</label>
		    <input v-model="cxs.cus_xingzhi" type="text" class="form-control" id="cls-add-remark" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-add-score">课程学分</label>
		    <input v-model="cxs.cus_score" type="text" class="form-control" id="cls-add-score" placeholder="请输入分类名称">		   
		  </div>
		  
		  <button @click="clsAddDo" type="button" class="btn btn-primary">提交</button>
		</form>	
	</div>
	
	<!-- 修改窗口的内容 -->
	<div id="cls-win-upd" style="display: none;padding:15px;" >
		<form>
		  <div class="form-group">
		    <label for="cls-upd-id">分类编号</label>
		    <input v-model="updcls.cls_id" type="text" readonly="readonly" class="form-control" id="cls-upd-id" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-upd-name">分类名称</label>
		    <input v-model="updcls.cls_name" type="text" class="form-control" id="cls-upd-name" placeholder="请输入分类名称">		   
		  </div>
		  <div class="form-group">
		    <label for="cls-upd-remark">分类说明</label>
		    <input v-model="updcls.cls_remark" type="text" class="form-control" id="cls-upd-remark" placeholder="请输入分类名称">		   
		  </div>
		  <button @click="clsUpdDo" type="button" class="btn btn-primary">提交</button>
		</form>	
	</div>
	
	
	

	
	
	
	
</div>


<!-- 在body结尾之前引入以下js文件。 注意导入顺序不可以随意改变。 -->
<script src="resources/js/jquery.min.js" ></script>
<script src="resources/js/bootstrap.bundle.min.js"></script>
<script src="resources/layer/layer.js" ></script>
<script src="resources/js/sweetalert.min.js" ></script>
<script src="resources/js/vue.min.js"></script>
<script src="resources/js/my.js"></script>

<script type="text/javascript">

	new Vue({
		el:'#app',
		data:{
			cxsList:[],
			dlg:null,
			cxs:{},//绑定新增窗体
			cxs_ids:[],//绑定复选框
			updcls:{},//绑定修改窗体
			
		},
		
		//监视属性变化
		watch:{
			
			//监视cls_ids属性-start
			cxs_ids(newValue,oldValue){
				console.log(newValue);
			}
			//监视cls_ids属性-end
		},
		
		//定义Vue对象的实例方法
		methods:{
			
			clsAddTo(){
				this.course={};
				this.dlg=My.open({
					title:'新增课程分类',
					contentId:'cls-win-add'					
					
				});
				
			},
			
			clsAddDo(){
				console.log("=====>");
				
				My.operate(
						{
							title:'您确实要提交该数据吗？',
							text:'如果。。。。，则。。。。。！',
							url:'clsAddDo',
							data:this.course
						},
						
						() => {
							this.loadClsList();
							My.close(this.dlg);
						}
				
				);
			},
			
			//弹出修改窗体-start
			clsUpdTo(course){
				this.updcxs=course;
				this.dlg=My.open({
					title:'修改商品分类',
					contentId:'cls-win-upd'					
					
				});
			},
			//弹出修改窗体-end
			
			//执行修改-start
			clsUpdDo(){
				My.operate(
						{
							title:'您确实要修改该分类信息吗？',
							text:'如果。。。。，则。。。。。！',
							url:'clsUpdDo',
							data:this.updcls
						},
						
						() => {
							this.loadCxsList();
							My.close(this.dlg);
						}
				
				);
			},
			//执行修改-end
			
			//执行删除-start
			clsDelDo(course){
				My.operate(
						{
							title:'您确实要删除该分类信息吗？',
							text:'如果一旦删除，则无法恢复！',
							url:'clsDelDo',
							data:{cus_id:course.cus_id}
						},
						
						() => {
							this.loadClsList();
							My.close(this.dlg);
						}
				
				);
			},
			//执行删除-end
			

			//执行批量删除-start
			clsDelMultiDo(){
				
				
				//js中 undefined 、 null 、 0 都可以自动转化为假（false）
				if(!this.cls_ids || this.cls_ids.length==0){
					swal("请选择数据！", "", "info");
					return;
				}
				
				
				
				My.operate(
						{
							title:'您确实要选择这些课吗？',
							text:'如果一旦删除，则无法恢复！',
							url:'clsDelMultiDo',
							data:{cls_ids:this.cls_ids}
						},
						
						() => {
							this.loadClsList();
							My.close(this.dlg);
							this.cls_ids=[];//清除数据
						}
				
				);
			},
			//执行批量删除-end
			
			
			//加载分类信息-start
			loadClsList(){
				My.loadData(
						{
							url:'cxsList'
						},
						
						(data) => { //处理服务器数据的回调函数
							this.cxsList=data;
						}
				);
			},//加载分类信息-end
			
		},
		
		mounted(){//挂载完成的回调函数
			
			//从服务端获取数据			
			this.loadClsList();
			
		}
		
		
	});

</script>




</body>
</html>